* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.calculator {
  margin: 10rem auto;
  padding: 2rem;
  border: 1px solid black;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
.firstHalfCalculator input {
  padding: 0.3rem;
  border-radius: 3px;
}
.firstHalfCalculator button {
  padding: 0.3rem;
  border-radius: 5px;
  margin-left: 1rem;
}
.secondHalfCalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
table {
  background-color: rgb(109, 221, 34);
  margin-top: 2rem;
  width: 14.4rem;
  padding: 0.5rem;
}
table tr {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
table tr td button {
  padding: 0.5rem;
  margin: 0.3rem;
  background-color: rgb(54, 54, 54);
  color: white;
}
button:hover {
  cursor: pointer;
}
